<div class="bar-box">
  <div class="row">
    <div class="col-6 col-lg-3 offset-lg-3">
      <div class="menu">
        <a routerLink="banks">选择题库</a>
      </div>
    </div>
    <div *ngIf="!userService.loggedIn" class="no-login col-6  col-lg-3">
      <ul>
        <li class=""><a class="" routerLink="login">登陆</a></li>
        <li class=""><a class="" routerLink="signup">注册</a></li>
      </ul>
    </div>
    <div *ngIf="userService.loggedIn" class="login">
      <ul>
        <li>{{userService.nickname}}</li>
        <li><a href="#" (click)="userService.logout()">退出</a></li>
      </ul>
    </div>
  </div>
</div>