.bar-box{
    background-color: #007ACC;
    color: white;
    height: 40px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin-right: 10px;
}
/* .bar-content{
    margin-top: 5px;
    float: right;
    padding-right: 10px;
} */
a {
    color: white;
}
a:focus{
    color: #dddddd;
    text-decoration-line: none;
}
.user-area{
    float: right;
}