<div *ngIf="question">
  <mat-card-header>
    <mat-card-title>{{question.question}}</mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="question.type==='s'">单选题</span>
      <span *ngIf="question.type==='m'">多选题</span>
      <span *ngIf="question.type==='t'">判断题</span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div>
      <ul class="list-group">
        <li *ngFor="let choice of question.choices" [class.active]="selected && selected.includes(choice.id)" (click)="select(choice.id)" class="list-group-item choice">
          <i class="material-icons done-icon" *ngIf="answer.includes(choice.id)">done</i>
          {{choice.text}}
        </li>
      </ul>
    </div>  
  </mat-card-content>
</div>
<div *ngIf="!question">
  <mat-card-header>
    没有更多题目了
  </mat-card-header>
</div>
