.list-group-item.active{
    background-color: #007ACC;
}

.selected{
    border: 2px solid green;
}
.choice{
    cursor: pointer;
}
.done-icon{
    font-size: 16px;
}
.action-btn{
    width:40%;
}
.typeLabel{
    margin:10px 10px 10px 0;
}
mat-radio-button{
    margin:10px;
}
.actions{
    padding: 15px 20px;
}
.btn-box{
    display: flex;
    justify-content: space-around;
}