<div>
  <div class="list-group">
    <a *ngFor="let bank of banks" class="list-group-item list-group-item-action"
      routerLink="/question/{{bank.id}}">
      {{bank.name}}
    </a>
  </div>
</div>
<div class='paycode-small' (click)='showLarge()'>
  <img src='../../assets/paycode.jpg' class='small'/>
  
</div>
<div class='paycode-large' *ngIf="showlarge">

  <div (click)='closelarge()' style='text-align: center;'>关闭</div>
  <div>如果觉得好用就支付宝支持一下吧谢谢!</div>
  <div>一块两块都是爱！么么哒</div>
  <div>支付宝账号:nbdavied@gmail.com</div>
  <img src='../../assets/paycode.jpg' class='large'/>
</div>